/*  To do: 

background image gradient, 
coloured foreground for text
animate name, slide in from side. Flashing full stop

*/

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
  line-height: 1.5;
  font-weight: bold;
}

#banner {
  height: 5rem;
  align-items: center;
}

#logo {
  flex-grow: 1;
}

#nav-wrapper {
  flex-grow: 4;
  justify-content: flex-end;
}

li.nav {
  float: left;
}

.nav {
  padding: 2rem 3.5rem 1.5rem 4rem;
}

#greeting {
  color: white;
  position: absolute;
  font-size: 7rem;
  left: 7rem;
  top: 7rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

#landing-title {
  height: 46rem;
  position: relative;
  background: #ffd89b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #19547b,
    #ffd89b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #19547b,
    #ffd89b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#summary-section {
  text-align: center;
  position: relative;
  margin: 3rem 0rem 2rem 0rem;
}

#summary-wrapper {
  flex-grow: 3;
}

.item {
  flex-grow: 1;
  width: 2rem;
}

.summary {
  color: #19547b;
}

#summary-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
}

#summary-tagline {
  font-size: 1.6rem;
  padding-top: 1rem;
}

#learn-more {
  margin: 2rem 0rem 1.5rem 0rem;
}

a {
  text-decoration: none;
  color: #19547b;
}

.button {
  line-height: 1.5rem;
  border-style: solid;
  border-color: #19547b;
  border-width: 1px;
  background-color: transparent;
  border-radius: 20px;
  padding: 12px 25px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  transition-duration: 200ms;
}

.button:hover {
  background-color: #19547b;
  color: white;
}

/* Cards */

#card-wrapper {
  justify-content: center;
  margin-bottom: 4rem;
}

.card {
  margin: 1.2rem;
  width: 25%;
  height: 200px;
  background-color: #19547b;
}

.card-a {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.card-text {
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
}

/* laptops */
@media (max-width: 1199px) {
  html {
    font-size: 16px;
  }
}

/* To do: add query for greeting background size and greeting text */
/* smartphones */
@media (max-width: 767px) {
  html {
    font-size: 12px;
  }

  .item {
    flex-grow: 1;
    width: 1rem;
  }

  #summary-wrapper {
    flex-grow: 3;
  }
}
