/*  To do: 

background image gradient, 
coloured foreground for text
animate name, slide in from side. Flashing full stop

*/

body {
  font-family: Arial, Helvetica, sans-serif;
}

#banner {
  height: 5rem;
  align-items: center;
}

#logo {
  flex-grow: 1;
}

#nav-wrapper {
  flex-grow: 4;
  justify-content: flex-end;
}

#greeting {
  color: white;
  position: absolute;
  font-size: 7rem;
  left: 7rem;
  top: 7rem;
}

.nav {
  padding: 2rem 3.5rem 1.5rem 4rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

#summary-section {
  text-align: center;
  position: relative;
  margin: 3rem 0rem;
}

#landing-title {
  height: 46rem;
  position: relative;
  background: #334d50; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #cbcaa5,
    #334d50
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #cbcaa5,
    #334d50
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.item {
  flex-grow: 1;
  width: 2rem;
}

#summary-wrapper {
  flex-grow: 3;
}

/* laptops */
@media (max-width: 1199px) {
  html {
    font-size: 16px;
  }
}

/* To do: add query for greeting background size and greeting text */
/* smartphones */
@media (max-width: 767px) {
  html {
    font-size: 12px;
  }

  .item {
    flex-grow: 1;
    width: 1rem;
  }

  #summary-wrapper {
    flex-grow: 3;
  }
}
